<!doctype html>
<html lang="en">

<head>
    <title>Wings</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/Home.css">
</head>

<body>

    <nav class="navbar navbar-fixed-top navbar-expand-md fixed-top navbar-dark bg-primary  ">
        <a class="navbar-brand " href="/"> <i class="fab fa-jedi-order" style='font-size:36px;color:white'></i></a>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
              </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active ">
                    <a class="nav-link " href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="#About">About</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="#Team">Team</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="#Contact">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav  justify-content-end">
                <li class="nav-item">

                    <a class=" nav-link " href="/Login/">Login</a>
                </li>
                <li class="nav-item">

                    <a class=" nav-link " href="#Sign_Up">Sign Up</a>
                </li>

            </ul>
        </div>

    </nav>
    <h1 id="company">Wings</h1>
    <div class=" fit">
        <h1 id="feat"> Events And Programs </h1>
        <p id="st">We Conduct Following Events And Programs</p>
        <div class="row">
            <div class="col-md-4 col-sm-6">

                <div class="card f1" style="width: 100%;">
                    <img class="card-img-top" src="/images/camp_1.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Camping</h5>
                        <p class="card-text">We Wings team conduct Camping in Himalayas and other part of India, We conduct Many Activties Like camp fire etc. </p>
                        <a href="#Camp" class="btn btn-primary"> Register Now </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card f1" style="width: 100%;">
                    <img class="card-img-top" src="/images/game.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Gaming Contest</h5>
                        <p class="card-text">We Wings team host many different different type of games online , you can compete as single as well as multiple player Team. </p>
                        <a href="#" class="btn btn-primary"> Register Now </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card f1" style="width: 100%;">
                    <img class="card-img-top" src="/images/game_rating.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Games Rating</h5>
                        <p class="card-text">We Wings team provide you ratings of some online games that we host online, you can take a look to get idea about different games. </p>
                        <a href="#" class="btn btn-primary"> Register Now </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">

                <div class="card f1" style="width: 100%;">
                    <img class="card-img-top" src="/images/Movie_rating.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Movie Rating</h5>
                        <p class="card-text">We Wings team also have some cultural team to give a view of movies rating for your planns to watch movie. </p>
                        <a href="#" class="btn btn-primary"> Register Now </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card f1" style="width: 100%;">
                    <img class="card-img-top" src="/images/concert.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Concertes</h5>
                        <p class="card-text">We Wings team also have some entertainment tema that conduct some very huge corowded concerts for entertain you All. </p>
                        <a href="#" class="btn btn-primary"> Register Now </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card f1" style="width: 100%;">
                    <img class="card-img-top" src="/images/trek.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Trekking</h5>
                        <p class="card-text fpp">We Wings conduct some very enjoyable and joyful treking in most of all adventures hills like in Himalayas and some other parts of india. </p>
                        <a href="#" class="btn btn-primary"> Register Now </a>
                    </div>
                </div>
            </div>


        </div>

        <div class="row contact">
            <div class="col-md-4 col-sm-6">
                <div class="card cc">
                    <div class="card-body cb">
                        <h5 class="card-title ct">About Wings</h5>
                        <p class="card-text tt fpp">We Wings Team conduct some events Like Camping in Himalayas, Online gaming Contest, we provide rating of movies and games, Concertes and Treking in various part of india. We Wings Team conduct some events Like Camping in Himalayas,
                            Online gaming Contest, we provide rating of movies and games, Concertes and Treking in various part of india.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card cc">
                    <div class="card-body cb ">
                        <h5 class="card-title ct">Navigations</h5>
                        <div class="row fpp">
                            <div class="col-sm-6">
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="/" class=" tt ">Home</a>
                                    </li>
                                    <li>
                                        <a href="#About" class=" tt ">About</a>
                                    </li>
                                    <li>
                                        <a href="#Team" class=" tt ">Team</a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="list-unstyled ">
                                    <li>
                                        <a href="#Login" class=" tt ">Login</a>
                                    </li>
                                    <li>
                                        <a href="#Sign_Up" class=" tt ">Sign Up</a>
                                    </li>
                                    <li>
                                        <a href="#Contact" class=" tt ">Contact</a>
                                    </li>

                                </ul>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card cc">
                    <div class="card-body cb">
                        <h5 class="card-title ct">Contact Wings</h5>
                        <ul class="list-unstyled ">
                            <li>
                                <a href="https://www.facebook.com/rajan.garhwal.3">

                                    <button type="button" class="btn btn-fb facebookicon"><i class="fab fa-facebook-f pr-1"></i> Facebook</button>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/rajan.garhwal.3">

                                    <button type="button" class="btn btn-ins instaicon"><i class="fab fa-instagram pr-1"></i> Instagram</button>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/rajan.garhwal.3">

                                    <button type="button" class="btn btn-tw twittericon"><i class="fab fa-twitter pr-1"></i> Twitter</button>
                                </a>
                            </li>

                        </ul>




                    </div>
                </div>
            </div>
            <div class="col-sm-12">

                <p class="deve tt ">This Website is Developed By Rajan Garhwal</p>
            </div>
        </div>





        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>