body {
    background: url("/images/img_2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.sign {
    margin: 100px 15% 0 15%;
    background-color: #333333;
    padding: 20px 20px 20px 20px;
    color: white;
}